body{
    background: black;
    display: flex;
    flex-direction:center;
    justify-content: center;
    align-items:center;
}

h1{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-align:center;
    font-size: 5.0rem;
    color:white;
    margin: 10px 0;
    align-items: center;
    margin-left:50px ;
}

  

#slider{
    width:80%;
    max-width:500px;
    height:25vw;
    max-height:150px;
}
#slider img{
    border-radius: 10px;
    opacity:0;
    position:absolute;

    width:100%;
    height:100%;

    object-fit:cover;
    transition:opacity 800ms;
}

#slider img.selected{
    opacity:1;
}